html
    head
        title Olivier Tran
        link(rel="stylesheet", href="/css/styles.css")
        script(type="text/javascript" src="index.js")
    body
        main
            p Bienvennue sur Atifoumi
            div
                a(href="/paper")
                    img(src="img/paper.png" class="paper" id="paper")
                a(href="/rock")
                    img(src="img/rock.png" class="rock" id="rock")
                a(href="/scissors")
                    img(src="img/scissors.png" class="scissors" id="scissors")
