html
    head
        title Olivier Tran
        link(rel="stylesheet", href="/css/styles.css")
    body

        p Bienvennue sur Atifoumi avec Dwayne Jonhson

        for choice in choices
            div(class="container")
                a(href="/play/" + choice.id class="hello")
                    img(src="/img/" + choice.id + ".png" class="img")