html
    head
        title Olivier Tran
        link(rel="stylesheet", href="/css/styles.css")
    body

        for choice in choices

            a(href="/play/" + choice.id class="hello") #{choice.name}
                img(src="/img/" + choice.id + ".png" class="img")