if winnerName === 'user'
    h1 You won!
else if winnerName === 'computer'
    h1 You lost mate :(
else
    h1 Draw!

p User: #{userChoice.name}
    img(src="/img/" + userChoice.id + ".png" class="img")
p Computer: #{computerChoice.name}
    img(src="/img/" + computerChoice.id + ".png" class="img")