body {
    background-color: yellow;
}

p {
    text-align: center;
    top: 0;
}

img {
    margin-right: 30px;
    margin-top: 100px;
}

.paper {
    flex: auto;
    width: 150px;
    height: 200px;
}

.rock {
    flex: auto;
    width: 150px;
    height: 200px;
}

.scissors {
    flex: auto;
    width: 150px;
    height: 200px;
}
